arduino_code/synthseqr_software/synthseqr_firmware_experimental/synthseqr_with_grandcentralM4express/.vscode/c_cpp_properties.json
arduino_code/synthseqr_software/synthseqr_firmware_experimental/synthseqr_with_grandcentralM4express/.vscode/arduino.json
arduino_code/synthseqr_software/synthseqr_firmware_experimental/synthseqr_with_grandcentralM4express/.vscode/settings.json
arduino_code/synthseqr_software/synthseqr_firmware_experimental/synthseqr_with_grandcentralM4express/vscode.code-workspace
.vscode/arduino.json
/arduino_code/libraries/WaveHC
/steppa_065.app
/arduino_code/libraries/SdFat_-_Adafruit_Fork
/arduino_code/libraries/RTClib
/arduino_code/libraries/NeoPixelBus_by_Makuna
/arduino_code/libraries/NeoPatterns
/arduino_code/libraries/JLed
/arduino_code/libraries/FlashStorage
/arduino_code/libraries/Framebuffer_GFX
/arduino_code/libraries/FastLED
/arduino_code/libraries/Audio_-_Adafruit_Fork
/arduino_code/libraries/Audio_-_Adafruit_Fork
/arduino_code/libraries/DebouncedButton
/arduino_code/libraries/Easy_NeoPixels
/arduino_code/libraries/FastLED_NeoMatrix
/arduino_code/libraries/FastLED_NeoPixel
/arduino_code/libraries/CircuitPlaygroundGestures
/arduino_code/libraries/ArduinoJson
/arduino_code/libraries/SD
/arduino_code/libraries/Mouse
/arduino_code/libraries/NeoPixel_Painter
/arduino_code/libraries/Adafruit_ZeroTimer_Library
/arduino_code/libraries/Adafruit_TSC2007
/arduino_code/libraries/Adafruit_Unified_Sensor
/arduino_code/libraries/Adafruit_Zero_DMA_Library
/arduino_code/libraries/Adafruit_Zero_FFT_Library
/arduino_code/libraries/Adafruit_Zero_I2S_Library
/arduino_code/libraries/Adafruit_Zero_PDM_Library
/arduino_code/libraries/Adafruit_TinyUSB_Library
/arduino_code/libraries/Adafruit_STMPE610
/arduino_code/libraries/Adafruit_TouchScreen
/arduino_code/libraries/Adafruit_NeoTrellis_M4_Library
/arduino_code/libraries/Adafruit_SPIFlash
/arduino_code/libraries/Adafruit_SleepyDog_Library
/arduino_code/libraries/Adafruit_LED_Backpack_Library
/arduino_code/libraries/Adafruit_NeoMatrix_ZeroDMA_library
/arduino_code/libraries/Adafruit_NeoPixel
/arduino_code/libraries/Adafruit_NeoPXL8
/arduino_code/libraries/Adafruit_SH110X
/arduino_code/libraries/Adafruit_GFX_Library
/arduino_code/libraries/Adafruit_Keypad
/arduino_code/libraries/Adafruit_NeoMatrix
/arduino_code/libraries/Adafruit_ILI9341
/arduino_code/libraries/Adafruit_ADXL343
/arduino_code/libraries/Adafruit_BusIO
/arduino_code/libraries/Adafruit_Circuit_Playground
/arduino_code/libraries/Adafruit_CPFS
/arduino_code/libraries/Adafruit_DMA_neopixel_library
/arduino_code/libraries/Adafruit_GPS_Library
/arduino_code/libraries/Adafruit_InternalFlash
